
 @font-face {
    font-family: Comf;
    src: url("../font/Comfortaa-Regular.ttf");
  }
  @font-face {
    font-family: Comf-thin;
    src: url("../font/Comfortaa-Light.ttf");
  }
  @font-face {
    font-family: Comf-bold;
    src: url("../font/Comfortaa-Bold.ttf");
  }
.clear{
    clear: both;
}
body::-webkit-scrollbar {
  display: none;
}
#main-wrapper{
  position: relative;
}

#titleScreen{
  width: 500px;
  height: 300px;
  /* background-color: rgba(104, 100, 100, 0.753); */
  background-color: white;
  box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.6);
  border-radius: 24px;
  text-align: center;
  margin-top: 19%;
  float: left;
  margin-left: 37%;

}

.maintitle{
  text-align: center;
  font-family: comf-bold;
  font-size: 2.5rem;
  color: #10A46C;
  margin-top: 41px;
  text-transform: uppercase;
  /* text-transform: capitalize; */
  line-height: 45px;
}
.xplane{
  font-family: Comf;
  color: black;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 65px;
  line-height: 30px;
}
/* #button-begin{
  margin: 0 auto;
  margin-top: 7%;
  width: 200px;
  height: 75px;
  background-color: red;
  cursor: pointer;
  transition: ease 1s;
  } */
  /* #button-begin:hover{
    background-color: rgb(116, 24, 24);
  } */
  /*button ani*/
 
  span{
    cursor: pointer;
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
    margin-left: 45%;
    margin-top: 40px;
  }
  span #button-begin{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    
    
  }
  span #button-begin:before,
  span #button-begin:after{
    position: absolute;
    font-family: Comf-bold;
    content: "START";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #10A46C;
    box-sizing: border-box;
    border-radius: 5px;
  }
 
  span #button-begin:before{
    color: #fff;
    background: #10A46C;
    transform: rotateY(0deg) translateZ(25px);
  }
  span #button-begin:hover{
    background: #10A46C;
  }
  span #button-begin:after{
    color: white;
    
    transform: rotateX(90deg) translateZ(25px);
    /* content: "let's go!"; */
    content: "LET'S GO!";
  }
  span #button-begin:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
  /*End button ani*/
  #button-begin-text{
    padding-top: 20px;
    color: white;
    text-align: center;
    font-size: 1.4rem;
  }

.intro-michelle-face-ani{
z-index: -1;
position: fixed;
  /* width: 500px;
  height: 500px; */
  bottom: 0;
  display: block;
  transition: ease-in-out 1s;
  opacity: 1;
}
.intro-michelle-face-ani.gone{
  display: none;
}

#michelle_intro-face{
  position: fixed;
  /* width: 500px;
  height: 500px; */
  bottom: 0;
  transition: ease-in-out 1s;
  opacity: 1;
  filter: blur(4px);
  z-index: -1;
}
#michelle_intro-face.open{
  filter: blur(0px);
  opacity: 0;
}
.michelle-face{
  position: absolute;
  /* width: 500px;
  height: 500px; */
  bottom: 0;
  display: block;
  transition: ease-in-out 1s;
  opacity: 1;
}
.michelle-face.open{
  opacity: 0;
}
.michelle-face-img{
  /* width: 500px;
  height: 500px; */
}

#background-street{
  z-index: -1;
  /* max-width: 100%; */

  width: 1920px;
  height: 1080px;
  position: fixed;
  background-image: url(../img/Achtergrond_slecht@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(4px);
  transition: ease-in-out 1s;
}
#background-street.open{
  filter: blur(0px);
}
.garbage{
 bottom: 0;
  position: absolute;
  transition: ease 2s;
  z-index: 1;
}
.garbage.open{
  transition-delay: 2s;
  opacity: 0.0;
}
.air{
  bottom: 0;
  position: absolute;
  transition: ease 2s;
  opacity: 0.0;
  z-index: 0;
}
.air.open{
  transition-delay: 2s;
  opacity: 1;
}

.birds{
  left: 41%;
  position: absolute;
  transition: ease 2s;
  opacity: 0.0;
}
.birds.open{
  transition-delay: 2s;
  opacity: 1;
}
.boom{
  position: absolute;
  transition: ease 2s;
  opacity: 0.0;
}

.boom.open{
  transition-delay: 2s;
  opacity: 1;
  /* z-index: 1; */
}

.boom-bad{
  position: absolute;
  transition: ease 2s;
  opacity: 0.0;
}
.boom-bad.open{
  position: absolute;
  transition: ease 2s;
  opacity: 1;
}





#wrapper-begin{
  position: relative;
  max-width: 100%;
  width: 100%;
  /* background-color: rgba(209, 180, 154, 0.055); */
}
#wrapper-begin.open{
  display: none;
}



#wrapper-welcom{
  transition: ease-in-out 1s;
  opacity: 0;
  display: none;
}
#wrapper-welcom.open{
  transition: ease-in-out 1s;
  opacity: 1;
  display: block;
}
.drop-area{
  width: 500px;
  height: 1080px;
  /* background-color: blue; */
  display: block;
}
#drop1.open{
  display: none;
}
.keuze1{
  position: absolute;
  width: 300px;
  height: 500px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  
}
.disciption-dress{
  font-size: 1.2rem;
  
  background-color: #10A46C;
  border-radius: 10px;
  border: 5px #10A46C solid;
  line-height: 25px;
}
#autority-keuze-s{
  /* background-color: red; */
  background-image: url(../img/gala_SS-re-size@2x.png);
  right: 15%;
  top: 20%;
  display: block;
  transition: opacity  ease-in-out 1s;
 
}
#autority-keuze-s-verhaal{
  color: white;
  opacity: 0;
  position: absolute;
  bottom: 0;
  color: white;
  font-family: Comf;
}
#autority-keuze-s:hover #autority-keuze-s-verhaal{
transition: opacity  ease-in-out 1s;
opacity: 1;
}




#autority-keuze-s.open{
  display: none;
}
#autority-keuze-t{
  /* background-color: peru; */
  background-image: url(../img/gala_SH-re-size@2x.png);
  right: 37%;
  top: 20%;
  display: block;
  transition: opacity  ease-in-out 1s;
}
#autority-keuze-t.open{
  display: none;
}
#autority-keuze-t-verhaal{
  color: white;
  opacity: 0;
  position: absolute;
  bottom: 0;
  color: white;
  font-family: Comf;
}
#autority-keuze-t:hover #autority-keuze-t-verhaal{
transition: opacity  ease-in-out 1s;
opacity: 1;
}


#autority-keuze-f-verhaal{
  color: white;
  opacity: 0;
  position: absolute;
  bottom: 0;
  color: white;
  font-family: Comf;
}
#autority-keuze-f:hover #autority-keuze-f-verhaal{
transition: opacity  ease-in-out 1s;
opacity: 1;
}
#autority-keuze-f{
  /* background-color: rgb(206, 48, 140); */
  background-image: url(../img/gala_FF-re-size@2x.png);
  right: 58%;
  top: 20%;
  display: block;
  transition: box-shadow ease-in-out 1s;
  transition: opacity  ease-in-out 1s;
}
#autority-keuze-f.open{
  display: none;
}
#autority-keuze-f.glow{
   /* box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, -50px -50px 0px -30px rgba(0,0,0,0); */
   animation-name: blink;
   animation-iteration-count: infinite;
   animation-duration: 3s;
}
/* Begin scenario 2*/


#wrapper-scenario2{
  display: none;
}
#wrapper-scenario2.open{
  display: block;
}
.countdown{
  font-size: 6em;
  text-align: center;
  color: black;
  position: absolute;
  top: 0;
  left: 50%;
  }
#drop2.open{
  display: none;
}
#scarcity-keuze-s{
  /* background-color: red; */
  background-image: url(../img/partySS@2x.png);
  right: 15%;
  top: 20%;
  display: block;
  transition: opacity  ease-in-out 1s;
}
#scarcity-keuze-s.open{
  display: none;
}
#scarcity-keuze-s-verhaal{
  color: white;
  opacity: 0;
  position: absolute;
  bottom: 0;
  color: white;
  font-family: Comf;
}
#scarcity-keuze-s:hover #scarcity-keuze-s-verhaal{
transition: opacity  ease-in-out 1s;
opacity: 1;
}






#scarcity-keuze-t{
  /* background-color: peru; */
  background-image: url(../img/party_SH@2x.png);
  right: 37%;
  top: 20%;
  display: block;
  transition: opacity  ease-in-out 1s;
}
#scarcity-keuze-t.open{
  display: none;
}
#scarcity-keuze-t-verhaal{
  color: white;
  opacity: 0;
  position: absolute;
  bottom: 0;
  color: white;
  font-family: Comf;
}
#scarcity-keuze-t:hover #scarcity-keuze-t-verhaal{
transition: opacity  ease-in-out 1s;
opacity: 1;
}



#scarcity-keuze-f{
  /* background-color: rgb(206, 48, 140); */
  background-image: url(../img/party_FF-re-size@2x.png);
  right: 58%;
  top: 20%;
  display: block;
  transition: box-shadow ease-in-out 1s;
  transition: opacity  ease-in-out 1s;
}
#scarcity-keuze-f.glow{
  /* box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, -50px -50px 0px -30px rgba(0,0,0,0); */
  animation-name: blink-red;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
#scarcity-keuze-f.open{
  display: none;
}
#scarcity-keuze-f.gone{
  transition: ease-in-out 1s;
opacity: 0;
}
#scarcity-keuze-f-verhaal{
  color: white;
  opacity: 0;
  position: absolute;
  bottom: 0;
  color: white;
  font-family: Comf;
}
#scarcity-keuze-f:hover #scarcity-keuze-f-verhaal{
transition: opacity  ease-in-out 1s;
opacity: 1;
}





/*scenario3*/
#wrapper-scenario3{
display: none;
}
#wrapper-scenario3.open{
  display: block;
  }

  #drop2.open{
    display: none;
  }
  #social-keuze-s{
    /* background-color: red; */
    background-image: url(../img/date_SS@2x.png);
    right: 15%;
    top: 20%;
    display: block;
    transition: opacity  ease-in-out 1s;
  }
  #social-keuze-s.open{
    display: none;
  }
  #social-keuze-s-verhaal{
    color: white;
    opacity: 0;
    position: absolute;
    bottom: 0;
    color: white;
    font-family: Comf;
  }
  #social-keuze-s:hover #social-keuze-s-verhaal{
  transition: opacity  ease-in-out 1s;
  opacity: 1;
  }



  
  #social-keuze-t{
    /* background-color: peru; */
    background-image: url(../img/date_SH-re-size@2x.png);
    right: 37%;
    top: 20%;
    display: block;
    transition: opacity  ease-in-out 1s;
  }
  #social-keuze-t.open{
    display: none;
  }
  #social-keuze-t-verhaal{
    color: white;
    opacity: 0;
    position: absolute;
    bottom: 0;
    color: white;
    font-family: Comf;
  }
  #social-keuze-t:hover #social-keuze-t-verhaal{
  transition: opacity  ease-in-out 1s;
  opacity: 1;
  }


  #social-keuze-f{
    /* background-color: rgb(206, 48, 140); */
    background-image: url(../img/date_FF@2x.png);
    right: 58%;
    top: 20%;
    display: block;
    transition: box-shadow ease-in-out 1s;
    transition: opacity  ease-in-out 1s;
  }
  #social-keuze-f.glow{
    /* box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, -50px -50px 0px -30px rgba(0,0,0,0); */
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-duration: 3s;
  }
  #social-keuze-f.open{
    display: none;
  }
  #social-keuze-f-verhaal{
    color: white;
    opacity: 0;
    position: absolute;
    bottom: 0;
    color: white;
    font-family: Comf;
  }
  #social-keuze-f:hover #social-keuze-f-verhaal{
  transition: opacity  ease-in-out 1s;
  opacity: 1;
  }

  @keyframes blink{
    0%   {box-shadow: rgba(255, 255, 255, 0) 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, -50px -50px 0px -30px rgba(0,0,0,0);}
  50%  {box-shadow: rgba(255, 255, 255, 0) 0 0px 0px, #ff0 0 0px 0px, #ff8000 0 0px 20px, 0px 0px 0px 0px rgba(0,0,0,0);}
  100% {box-shadow: rgba(255, 255, 255, 0) 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, -50px -50px 0px -30px rgba(0,0,0,0);}
  }
  @keyframes blink-red{
    0%   {box-shadow: rgba(255, 255, 255, 0) 0 -1px 4px, rgb(255, 0, 0) 0 -2px 10px, #ff8000 0 -10px 20px, -50px -50px 0px -30px rgba(0,0,0,0);}
  50%  {box-shadow: rgba(255, 255, 255, 0) 0 0px 0px, rgb(255, 0, 0) 0 0px 0px, #ff8000 0 0px 20px, 0px 0px 0px 0px rgba(0,0,0,0);}
  100% {box-shadow: rgba(255, 255, 255, 0) 0 -1px 4px, rgb(255, 0, 0) 0 -2px 10px, #ff8000 0 -10px 20px, -50px -50px 0px -30px rgba(0,0,0,0);}
  }

  #wrapper-send-off{
    display: none;
    opacity: 0;
    transition: opacity ease-in-out 1s;
    position: absolute;
    
    text-align: center;
    height: 1080px;
    width: 1920px;
    max-width: 100%;

  }
  #wrapper-send-off.open{
    display: block;
    opacity: 1;
  }
  #thanks-for-playing{
    width: 500px;
 
    /* background-color: rgba(104, 100, 100, 0.753); */
    background-color: white;
    box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.6);
    border-radius: 24px;
    text-align: center;
    margin-top: 14%;
    float: left;
    margin-left: 37%;
    padding-bottom: 20px;
  }
  .send-off-title{
    text-align: center;
    font-family: comf-bold;
    font-size: 2.5rem;
    color: #10A46C;
    margin-top: 41px;
    text-transform: uppercase;
    /* text-transform: capitalize; */
    line-height: 45px;
  }
  p.text-send-off{
    font-family: Comf;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 31px;
    line-height: 30px;
  }
  
  #qr-code{
    margin-top: 4%;
  }
  #qr-code img{
    width: 150px;
  }
  
  /*next button----------------------------------------------------------------------------------------------------------------------------------*/
 
  /* .next-event{
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 70px;
    bottom:0;
    right: 50%;
    background-color: red;
  } */
  .next-event.open{
    display: block;
  }
 
  .next-event {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    /* font-weight: 500; */
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    /* position: relative; */
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 28px;
    bottom: 29px;
    right: 46%;
    font-family: Comf-bold;
    
    background: #10A46C;

  }
  #next-event-text{
    margin-top: 5px;
    font-size: 19px;
    content: "START";
  }
    
  .next-event-ook {
    border: 5px solid #10A46C;
    border-radius: 5px;
    z-index: 1;
    color: white;
    display: none;
    text-align: center;
  }
  
  .next-event-ook:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
   
    transition: all 0.3s ease;
  }
  
  .next-event-ook:hover {
    background: rgba(255, 255, 255, 0);
    color: white
  }
  
  .next-event-ook:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }

  /* #reloading{
    cursor: pointer;
    background-color: #10A46C;
    width: 100px;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px;
  } */

  .reloading{
    padding: 10px 25px;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 auto;
    width: 100px;
    height: 28px;
    bottom: 29px;
    right: 46%;
    font-family: Comf-bold;
    display: block;
    background: #10A46C;
  }
  .reloading-ook {
    border: 5px solid #10A46C;
    border-radius: 5px;
    z-index: 1;
    color: white;
    margin-top: 20px;
    text-align: center;
  }
  
  .reloading-ook:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease;
  }
  
  .reloading-ook:hover {
    background: rgba(255, 255, 255, 0);
    color: black
  }
  
  .reloading-ook:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .play-again{
    margin-top: 7px;
  }